:root{
    --roboto: 'Roboto', sans-serif;
    --oswald: 'Oswald', sans-serif;
    --playfair: 'Playfair Display', serif;
}
body#project{
    background: #0D0D0D;
}
section.project{
    width: 100%;
    min-height: 100vh;
    background: #0D0D0D;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-top: 100px;
    box-sizing: border-box;
}
.project-path{
    font-size: 22px;
    font-weight: 600;
    font-family: var(--roboto);
    color: #fff;
    position: absolute;
    left: 150px;
    top: 200px;
}
section.project .card-project{
    width: 900px;
    min-height: 650px;
    background: #201F1F;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 150px;
    border-radius: 6px;
}
section.project .card-project .project-img img{
    width: 850px;
    height: 450px;
}
.card-project .project-title{
    font-family: var(--roboto);
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    width: 100%;
    margin-left: 50px;
}
.card-project .project-detail{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: flex-start;
}
.card-project .project-detail .project-navs{
    display: flex;
    flex-direction: row;
    color: #c4c4c4;
    width: 100%;
    justify-content: flex-start;
    
}
.project-detail .project-navs .nav{
    width: 150px;
    height: 30px;
    font-size: 16px;
    font-family: var(--roboto);
    font-weight: normal;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}
.nav:hover{
    color: #fff;
}
.project-detail .project-navs .nav img{
    width: 20px;
    height: 20px;
}
.card-project .project-detail .project-tools{
    display: flex;
    flex-direction: row;
    color: #c4c4c4;
    font-size: 16px;
    font-family: var(--roboto);
    margin-top: 20px;
    margin-left: 20px;
}
section.contact{
    width: 100%;
    min-height: 100vh;
    background: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/asset/mug-coffee-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.contact-container{
    width: 900px;
    height: 311px;
    background: #0000004A;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 1s;
}
.contact-container:hover{
    box-shadow: 0px -1px 44px -19px #FFFFFF;
}
.contact-container p{
    font-family: var(--roboto);
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
    color: #fff;
}
.contact-container .box-buttons{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    width: 420px;
    justify-content: space-between;
}
.contact-container .box-buttons .btn-email{
    width: 200px;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: #ECECEC;
    border-radius: 9px;
    color: #000;
    font-family: var(--playfair);
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    transition: 0.6s;
}
.contact-container .box-buttons .btn-email:hover{
    background: #999898;
}
.contact-container .box-buttons .btn-download{
    width: 200px;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: #000;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    color: #ECECEC;
    font-family: var(--playfair);
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    transition: 0.6s;
}
.contact-container .box-buttons .btn-download:hover{
    transform: scale(1);
    background: #201F1F;
}